@media (max-width: 960px){
    .grid-container{
        grid-template-columns:auto auto;
    }
}

@media (max-width: 670px){
    .grid-container{
        grid-template-columns:auto;
        justify-content: center;
    }
    .delivery-options{
        flex-wrap:wrap;
        justify-content: center;
    }
}

@media (max-width: 1120px){
    .common-section{
        margin-left:0px;
        margin-right: 0px;

    }
}


@media (max-width: 762px){
    .header{
        visibility: hidden;
    }
    .header > img{
        visibility: visible;
    }
}

@media (max-width: 500px){
    .dish-name-slide-container{
        gap: 0px;
    }
}
